---
layout: default
title: Fröhlich Lab
heading: Dynamics of Living Systems Lab
banner: /assets/images/team/lab.jpg
box: false
---

<h1 class="home-title">{{ page.heading }}</h1>

<div class="home-banner">
	<img src="{{ page.banner }}" alt="">
</div>

<div class="boxes">
<div class="box smallhead">
	{% capture home_text %}{% include home.md %}{% endcapture %}
	{{ home_text | markdownify }}
</div>

<div class="boxes columns-3 home-feeds">
	<section class="box">
		<h2 class="head">
			<a class="off" href="/news/">News</a>
		</h2>
		{% for news in site.categories.news limit:4 %}
		<div class="feed-item">
			<div class="note-title">
				{% include icon.html name="megaphone" %}
				<a class="off" href="{{ news.url }}">{{ news.title }}</a>
			</div>
			<div class="note">
				{{ news.content }}
			</div>
			<div class="smallnote">
				Posted {{ news.date | date_to_string }}
			</div>
		</div>
		{% endfor %}
	</section>
	<section class="box">
		<h2 class="head">
			<a class="off" href="/blog/">Posts</a>
		</h2>
		{% for post in site.categories.blog limit:4 %}
		<div class="feed-item">
			<div class="note-title">
				{% include icon.html name="message" %}
				<a class="off" href="{{ post.url }}">{{ post.title }}</a>
			</div>
			<div class="smallnote">
				Posted {{ post.date | date_to_string }}
			</div>
		</div>
		{% endfor %}
	</section>
	<section class="box">
		<h2 class="head">
			<a class="off" href="/papers/">Papers</a>
		</h2>
		{% for paper in site.categories.papers limit:4 %}
		<div class="feed-item">
			<div class="note-title">
				{% include icon.html name="file-text" %}
				{% if paper.preprint %}Preprint:{% endif %}
				<a class="off" href="{{ paper.url }}">{{ paper.title }}</a>
				<div class="shortref note">{{ paper.ref }}</div>
			</div>
			<div class="smallnote">
				{% if paper.preprint %}Posted{% else %}Published{% endif %} {{ paper.date | date_to_string }}
			</div>
		</div>
		{% endfor %}
	</section>
</div>
</div>
