---
layout: default
title: Team
description: "People in the lab"
group: navigation
navorder: 3
---

{% assign current_team = site.categories.team | where: "alum","false"%}
<div class="columns-3 team-grid pt-20">
{% for member in current_team reversed %}
	<div class="member-card">
		<a href="{{ member.url }}">
			<img class="member-photo" src="{{ member.image }}" alt="{{ member.title }}">
		</a>
		<div>
			<h2 class="head item-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></h2>
			<p class="note">{{ member.position }}</p>
		</div>
	</div>
{% endfor %}
</div>

<hr class="double-rule">
<h2 class="title alumni-title">Alumni</h2>

{% assign alumni = site.categories.team | where: "alum","true"%}
<div class="columns-3 team-grid pt-20">
{% for member in alumni %}
	<div class="member-card">
		<div>
			<h2 class="head item-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></h2>
			<p class="note">{{ member.position }} <br> Last seen: {{ member.last_seen }}</p>
		</div>
	</div>
{% endfor %}
</div>
