<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

{% for member in site.categories.team %}
  {% if member.handle == page.author_handle %}
    {% assign author = member %}
  {% endif %}
{% endfor %}


<div class="row post-full">
  <div class="col-md-2">
    <div class="bigspacer"></div>
    <div class="glyphbox note"> <!-- DAD: what is this--> 
        <div class="smallhead">
          {{ page.date | date_to_string }}
          {% if author %}
          <div class="bigspacer"></div>
          by <a class="off" href="{{ author.url }}">{{ author.nickname }}</a>
          {% endif %}           
        </div>
        <div class="bigspacer"></div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="bigspacer"></div>
    <div class="glyphbox note"> <!-- DAD: what is this--> 
      <div class="content">
        {{ content }}
      </div>
    </div>
  </div>

    <hr>
    {% include JB/comments %}

</div>
