---
layout: default
title: Software
description: "Tools developed in the lab"
group: navigation
navorder: 2
box: false
---

<div class="boxes">
{% for project in site.tools %}
  <div class="split split-narrow box">
    <div class="logobox">
      {% if project.image %}
      <a href="{{ project.url }}">
        <img width="75" src="{{ project.image }}" alt="{{ project.title }}">
      </a>
      {% endif %}
    </div>
    <div class="projectbox">
      <div>
        <h2 class="head item-heading"><a href="{{ project.url }}" class="off">{{ project.title }}</a></h2>
        <p class="note pt-5">
          {% include icon.html name="github" %}
          <a class="off" href="https://github.com/{{ project.github }}">{{ project.github }}</a>
          &#8212;
          {{ project.tagline }}
        </p>
        <div class="note">
          {{ project.description }}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
