---
layout: default
title: Software
description: "Tools developed in the lab"
group: navigation
navorder: 2
---
{% include JB/setup %}

<div class="bigspacer"></div>

{% for project in site.categories.tools %}
  <div class="row">
    <div class="col-md-1 logobox">
      <a href="{{ project.url }}">
        <img class="ml-2" width=75 class="media-object" src="{{ project.image }}">
      </a>
    </div>
    <div class="col-md-10 projectbox">
      <div class="media">
        <div class="media-body">
          <div class="head media-heading mb-1"><a href="{{ project.url }}" class="off">{{ project.title }}</a></div>
          <p class="note">{{ project.tagline }}</p>
        </div>
      </div>
      <div class="smallspacer"></div>
      <div class="note">
        {{ project.description }}
      </div>
      <div class="pad-left note">
        <div class="smallspacer"></div>
        <i class="fa fa-github-alt fa-fw"></i>
        <a class="off" href="https://github.com/{{ project.github }}">{{ project.github }}</a>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
  <div class="bigspacer"></div>
{% endfor %}

<div class="bigspacer"></div>
