---
layout: default
---

{% assign member = page %}

<div class="bigspacer"></div>

<div class="split">
	<div>
		{% if member.image %}
		<img class="big-member-photo" src="{{ member.image }}" alt="{{ member.title }}">
		{% endif %}
	</div>
	<div>
		<h1 class="title item-heading">{{ member.title }}</h1>
		<div class="smallhead">
			{{ member.position }}
		</div>
		<br>
		<div class="post">
			{{ member.content }}
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="split">
	<div>
		{% if member.bluesky %}
		<div class="smallhead">
			Bluesky
		</div>
		<div class="note">
			<div class="smallspacer"></div>
			{% include icon.html name="bluesky" %}
			<a class="off" href="https://bsky.app/profile/{{ member.bluesky }}">{{ member.bluesky }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.github %}
		<div class="smallhead">
			GitHub
		</div>
		<div class="note">
			<div class="smallspacer"></div>
			{% include icon.html name="github" %}
			<a class="off" href="https://github.com/{{ member.github }}">{{ member.github }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.scholar %}
		<div class="smallhead">
			Google Scholar
		</div>
		<div class="note">
			<div class="smallspacer"></div>
			{% include icon.html name="book" %}
			<a class="off" href="http://scholar.google.com/citations?user={{ member.scholar }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.email %}
		{% assign emailarray = member.email | split: '@' %}
		<div class="smallhead">
			Email
		</div>
		<div class="note">
			<div class="smallspacer"></div>
			{% include icon.html name="inbox" %}
			{{ emailarray.first }}<span style="display:none">obfuscate</span>@{{ emailarray.last }}
		</div>
		<div class="bigspacer"></div>
		{% endif %}
	</div>
	<div>
		{% assign lastname = member.title | split: ' ' | last %}
		{% for paper in site.categories.papers %}
			{% if paper.authors contains lastname %}
				{% assign papersq = true %}
			{% endif %}
		{% endfor %}

		{% if papersq == true %}
			<div class="bigspacer"></div>
			<h2 class="head">Papers</h2>
			<div class="spacer"></div>
			{% for paper in site.categories.papers %}
				{% if paper.authors contains lastname %}
					{% if paper.embargo %}
					<p>{{ paper.title }}</p>
					{% else %}
					<p><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></p>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}

		{% for post in site.categories.blog %}
			{% if member.handle == post.author_handle %}
				{% assign postsq = true %}
			{% endif %}
		{% endfor %}

		{% if postsq == true %}
			<div class="bigspacer"></div>
			<h2 class="head">Posts</h2>
			<div class="spacer"></div>
			{% for post in site.categories.blog %}
				{% if member.handle == post.author_handle %}
					<p><a href="{{ post.url }}" class="off">{{ post.title }}</a></p>
				{% endif %}
			{% endfor %}
		{% endif %}

	</div>
</div>
