---
layout: default
---

{% assign member = page %}
{% assign lastname = member.title | split: ' ' | last %}
{% assign papers = site.categories.papers | where_exp: "paper", "paper.authors contains lastname" %}
{% capture email %}{{ member.email | split: '@' | first }}<span style="display:none">obfuscate</span>@{{ member.email | split: '@' | last }}{% endcapture %}

<div class="split">
	<div>
		{% if member.image %}
		<img class="big-member-photo" src="{{ member.image }}" alt="{{ member.title }}">
		{% endif %}
	</div>
	<div>
		<h1 class="title item-heading">{{ member.title }}</h1>
		<div class="smallhead">
			{{ member.position }}
		</div>
		<br>
		<div class="post">
			{{ member.content }}
		</div>
	</div>
</div>

<div class="split pt-20">
	<div>
		{% include link_item.html label="Bluesky" icon="bluesky" value=member.bluesky prefix="https://bsky.app/profile/" %}
		{% include link_item.html label="GitHub" icon="github" value=member.github prefix="https://github.com/" %}
		{% include link_item.html label="Google Scholar" icon="book" value=member.scholar prefix="https://scholar.google.com/citations?user=" text=member.title %}
		{% include link_item.html label="ORCID" icon="orcid" value=member.orcid prefix="https://orcid.org/" %}
		{% include link_item.html label="Email" icon="inbox" value=member.email text=email nolink=true %}
	</div>
	<div>
		{% if papers.size > 0 %}
		<h2 class="head list-heading">Papers</h2>
		{% for paper in papers %}
		<p><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></p>
		{% endfor %}
		{% endif %}
	</div>
</div>
