---
layout: default
---
<div class="bigspacer"></div>

<div class="split split-narrow">
  <div>
    <div class="logobox">
      {% if page.image %}
      <img class="toollogo" src="{{ page.image }}" alt="">
      {% endif %}
    </div>
    <div class="note">
      <div class="smallspacer"></div>
      {% include icon.html name="github" %}
      <a class="off" href="https://github.com/{{ page.github }}">{{ page.github }}</a>
    </div>
  </div>

  <div>
    <h1 class="title item-heading">{{ page.title }}</h1>
    <div class="tagline">{{page.tagline}}</div>
    <div class="bigspacer"></div>
    <div class="post">
      {{ content }}
    </div>
  </div>
</div>
